.main-content {
  background-color: white;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  min-width: 425px;
}

.header-about {
  color: #757575;
  padding-top: 3rem;
  padding-left: 3rem;
  background-color: transparent;
  font-size: 2em;
  font-weight: bold;
}

.references-container {
  max-width: 600px;
}
