html,
body {
  height: 100%;
  margin: 0;
}
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.myheader {
  text-align: center;
  /* background-color: #583096; */
  color: #fff;
  padding: 0;
}

header h1 {
  margin: 0;
}

.cont {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer-wrapper {
  margin-top: auto;
}

.footer {
  position: fixed; /* or absolute */
  bottom: 0;
  left: 0;
}
.content-placeholder-results {
  flex: 1;
  padding-bottom: 50px;
  margin-left: 2.2em;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.survey-questions {
  flex: 1;
  padding-bottom: 50px; 
  margin-left: 2.2em;
  align-items: center;
} */

.survey-questions {
  flex: 1; /* This ensures the div takes up the remaining space */
  padding-bottom: 50px; /* This is for spacing to avoid the footer overlapping content */
  margin-left: 2.2em; /* Adjust as needed */
  margin-right: 2.2em; /* Adjust as needed */
  text-align: center; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text {
  margin-right: 20px;
  text-align: center;
}

.action-button-results {
  padding: 10px 20px;
  margin-top: 0.6em;
  margin-right: 1.2em;
  margin-left: 1.2em;
  margin-bottom: 1.2em;
  font-size: 0.8em;
  background-color: lightskyblue;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button-results:hover {
  background-color: gray;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 10px;
  }

  header {
    font-size: 18px;
  }

  main {
    margin-top: 10px;
  }
}
