.main-content {
  background-color: white;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  min-width: 425px;
}

.main-top {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-profile {
  color: #757575;
  padding-top: 3rem;
  padding-left: 3rem;
  background-color: transparent;
  font-size: 2em;
  font-weight: bold;
}

.custom-select {
  background-color: #583096;
  width: 150px;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  text-align: center;
}

.results-button {
  color: white;
  background-color: #583096;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

.survey-button {
  color: white;
  background-color: #583096;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
}

.graph-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-container {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.toggleChart {
  color: white;
  background-color: #583096;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

.graph-label {
  margin: 0;
}

.compare-select {
  background-color: #583096;
  width: 150px;
  color: white;
  border-radius: 5px;
  height: 40px;
  border: none;
  text-align: center;
}

@media (max-width: 768px) {
  .main-top {
    flex-direction: column;
    min-height: 200px;
    margin-bottom: 20px;
  }
  .graph-container {
    flex-direction: column;
    align-items: center;
  }
  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main-content {
    margin-right: 0;
  }
}
