.survey-split-screen {
  display: flex;
  flex-direction: row;
}

.survey-split-left {
  width: 40%;
  padding-left: 4rem;
  display: grid;
  align-items: center;
}

.survey-split-right {
  width: 60%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.survey-bubble-text {
  width: 0;
}

.survey-bubble {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /*init 4*/
}

.survey-bubble-bub {
  /*padding-left: 100%;
    padding-right: 100%;*/
}

.survey-bubble1 {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.survey-page {
  padding-left: 10%;
  padding-right: 10%;
}

.survey-card {
  background-color: #fff;
  box-shadow: 5px 10px 8px #888888;
  text-align: left;
  min-width: 400px;
}

.header-survey {
  color: #757575;
  padding-top: 3rem;
  padding-left: 3rem;
  background-color: transparent;
}

.header2-survey {
  color: #757575;
  padding-left: 3rem;
  background-color: transparent;
}

.disagree {
  color: #000;
  margin-left: 31%;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: absolute;
}
.agree {
  color: #000;
  margin-left: 67%;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: absolute;
}
.space {
  padding-bottom: 50px;
}

.input-container {
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2rem;
  text-align: left;
}

.text-input {
  width: 100%;
  height: 2.5rem;
  font-size: 20px;
  margin: 0;
}

.input-title {
  margin: 0;
}

.recovery-container {
  width: 75%;
  margin-left: 12.5%;
  text-align: right;
  margin-top: 5px;
}

.recovery {
  color: gray;
  text-decoration: none;
}

.next-button {
  color: white;
  background-color: #583096;
  border-radius: 4px;
  padding: 16px 70px;
  border: none;
  font-size: 18px;
  margin-top: 1rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.previous-button {
  color: white;
  background-color: #583096;
  border-radius: 4px;
  padding: 16px 70px;
  border: none;
  font-size: 18px;
  margin-top: 1rem;
  cursor: pointer;
  margin-left: 2rem;
}

.page-one-checks {
  padding-left: 12.5%;
}

.link {
  color: blue;
}

.survey-program-bar {
  padding-right: 3rem;
}

@media (max-width: 768px) {
  .survey-split-screen {
    display: flex;
    flex-direction: column;
  }

  .survey-split-left {
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .survey-split-right {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }

  .survey-page {
    padding-left: 1%;
    padding-right: 1%;
  }
}
